/* line 6, scss/app.scss */
.row {
  max-width: 80rem;
}

/* line 10, scss/app.scss */
.al {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 18, scss/app.scss */
#header {
  height: 60px;
  padding: 0px;
  font-size: 0.875rem;
  color: #3C3C3B;
  position: relative;
}
/* line 25, scss/app.scss */
#header .logo {
  float: left;
  padding: 10px 0 0 15px;
}
/* line 31, scss/app.scss */
#header .nav ul {
  list-style: none;
  float: left;
  margin: 0 20px 0 0;
}
/* line 36, scss/app.scss */
#header .nav li {
  float: left;
  list-style: none;
  padding: 10px;
  height: 60px;
}
/* line 36, scss/app.scss */
#header .nav li:hover {
  background: #f9f9f9;
}
/* line 38, scss/app.scss */
#header .nav li a {
  font-size: 0.875em;
  color: #3C3C3B;
  height: 50px;
  padding: 10px 0 0 0;
  text-transform: uppercase;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  border-right: 1px solid dotted #3C3C3B;
}
/* line 44, scss/app.scss */
#header .nav li a:hover {
  color: #999;
}
/* line 49, scss/app.scss */
#header .nav li.divider {
  padding: 0px;
}
/* line 52, scss/app.scss */
#header .nav .social {
  float: left;
  padding: 15px 10px 0 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 60px;
}
/* line 58, scss/app.scss */
#header .nav .social a {
  padding: 0 5px;
}
/* line 60, scss/app.scss */
#header .nav .search {
  float: right;
  position: relative;
  right: 0;
  height: 60px;
  width: 60px;
}
/* line 61, scss/app.scss */
#header .nav .search a {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("images/search.png") center no-repeat;
}
/* line 63, scss/app.scss */
#header .nav .search a:hover {
  background: #f9f9f9 url("images/search.png") center no-repeat;
}
/* line 64, scss/app.scss */
#header .nav .search a img {
  width: 32px;
  height: 32px;
}
/* line 68, scss/app.scss */
#header img {
  vertical-align: middle;
}

/**/
/* line 72, scss/app.scss */
#slider .row {
  max-width: none;
}
/* line 75, scss/app.scss */
#slider .example-orbit div {
  background: url("images/slider_bg.png") left top no-repeat;
  color: white;
  position: absolute;
  width: 705px;
  height: 375px;
  padding: 2rem 4rem;
  left: 30px;
  top: 20px;
}
/* line 85, scss/app.scss */
#slider .example-orbit div h2 {
  color: #fff;
}
/* line 88, scss/app.scss */
#slider .example-orbit div p {
  font-size: 1.1rem;
  max-width: 85%;
  text-align: justify;
}

/**/
/* line 97, scss/app.scss */
.orbit-container .orbit-slides-container {
  overflow: hidden;
  max-height: 520px !important;
}

/* line 101, scss/app.scss */
.orbit-container .orbit-slides-container img {
  width: 100%;
}

/**Universal selectors**/
/* line 103, scss/app.scss */
h3 {
  font-size: 1rem;
  font-weight: 600;
}

/* line 104, scss/app.scss */
p {
  font-size: 14px;
  font-weight: 400;
}

/* line 105, scss/app.scss */
.button {
  background: #19296C;
}

/*products grid*/
/* line 109, scss/app.scss */
#products .img img {
  width: 100%;
}
/* line 111, scss/app.scss */
#products .content {
  padding: 10px;
  background: #EBEBEB;
  border-bottom: 2px solid #f00;
}
/* line 113, scss/app.scss */
#products .content a.button {
  margin: 0 auto;
  display: block;
  width: 105px;
}

/**/
/* line 118, scss/app.scss */
#info .wrapper {
  background: #EBEBEB;
  display: block;
  overflow: hidden;
  border-left: 2px solid #f00;
  padding: 5px 0 0 0;
}
/* line 125, scss/app.scss */
#info .wrapper .content {
  margin-top: 20px;
}
/* line 128, scss/app.scss */
#info .wrapper .content h3 {
  font-weight: 400;
}
/* line 133, scss/app.scss */
#info .img, #info .open {
  margin-top: 40px;
  height: 100px;
}
/* line 135, scss/app.scss */
#info .img img, #info .open img {
  vertical-align: center;
}

/****/
/* line 141, scss/app.scss */
#notice h3 {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 65px;
}
/* line 142, scss/app.scss */
#notice .wrapper {
  background: #EBEBEB;
  display: block;
  overflow: hidden;
  border-left: 2px solid #f00;
  padding: 5px 0 0 0;
}
/* line 143, scss/app.scss */
#notice p {
  margin: 23px 0 0 0;
}
/* line 144, scss/app.scss */
#notice .img, #notice .open {
  margin-top: 8px;
  height: 30px;
}
/* line 146, scss/app.scss */
#notice .img img, #notice .open img {
  vertical-align: center;
}

/****/
/* line 150, scss/app.scss */
.category-nav {
  background: #EBEBEB;
  margin-bottom: 30px;
}
/* line 153, scss/app.scss */
.category-nav a {
  font-weight: 400;
  font-size: 1rem;
  padding: 0 0.75rem;
  color: #999;
}
/* line 160, scss/app.scss */
.category-nav .active a {
  background: none;
  font-weight: 600;
  color: #f00;
}
/* line 160, scss/app.scss */
.category-nav .active a:hover {
  cursor: pointer;
}
/* line 162, scss/app.scss */
.category-nav .sub-nav {
  margin: 10px auto;
  padding-top: 4px;
}
/* line 167, scss/app.scss */
.category-nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/****/
/* line 181, scss/app.scss */
.vertical-center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 189, scss/app.scss */
.vertical-center div {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

/* line 197, scss/app.scss */
.home .orbit-container .orbit-timer {
  display: none;
}
/* line 201, scss/app.scss */
.home .bottom_links {
  margin-top: 20px;
}
/* line 206, scss/app.scss */
.home .middle_links .box {
  height: 130px;
}
/* line 207, scss/app.scss */
.home .middle_links .box h6.title {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  font-weight: 400;
}
/* line 218, scss/app.scss */
.home .box {
  background-color: #ebebeb;
  padding: 15px;
  border-left: 2px solid #d41117;
  min-height: 130px;
}
/* line 224, scss/app.scss */
.home .box h6.title {
  padding-top: 10px;
}
/* line 228, scss/app.scss */
.home .box .plus {
  font-weight: 100;
}
/* line 232, scss/app.scss */
.home .box i {
  width: 52px;
  height: 55px;
  display: block;
}
/* line 242, scss/app.scss */
.home .box .icon a {
  display: block;
  text-align: center;
}
/* line 248, scss/app.scss */
.home .box .phone {
  background: url("images/phone.png") center center no-repeat;
}
/* line 252, scss/app.scss */
.home .box i.financials {
  background: url("images/financials.png") center center no-repeat;
}
/* line 256, scss/app.scss */
.home .box .news {
  background: url("images/news.png") center center no-repeat;
}
/* line 260, scss/app.scss */
.home .box i.openings {
  margin-top: 0px;
  background: url("images/openings.png") center center no-repeat;
}
/* line 265, scss/app.scss */
.home .box i.branches {
  background: url("images/branches.png") center center no-repeat;
}

/* line 272, scss/app.scss */
.category-products .category {
  margin-bottom: 20px;
}

/* line 279, scss/app.scss */
.product.preview .alignment {
  width: 280px;
  margin: auto;
}
/* line 284, scss/app.scss */
.product.preview .excerpt {
  background: #ebebeb;
  max-width: 280px;
  padding: 10px;
  min-height: 220px;
  border-bottom: 2px solid #d41117;
}
/* line 291, scss/app.scss */
.product.preview .excerpt h5 {
  text-transform: uppercase;
  margin-top: 0px;
  font-weight: 400;
  font-size: 1.05rem;
}
/* line 297, scss/app.scss */
.product.preview .excerpt h5 a {
  color: #3c3c3b;
}
/* line 302, scss/app.scss */
.product.preview .excerpt p {
  font-weight: 300;
  min-height: 110px;
}
/* line 307, scss/app.scss */
.product.preview .excerpt .button {
  margin-bottom: 0px;
}

/** Common **/
/* line 316, scss/app.scss */
.plus {
  font-size: 2rem;
  color: #19296C;
  text-align: center;
  display: block;
}

/* line 324, scss/app.scss */
.careers .lead.columns {
  padding: 20px;
}
/* line 329, scss/app.scss */
.careers .no-opening .drop {
  border-top: 2px solid #A6A8AB;
  border-bottom: 2px solid #A6A8AB;
}
/* line 333, scss/app.scss */
.careers .no-opening .drop p {
  text-align: center;
  margin: 1rem;
}
/* line 337, scss/app.scss */
.careers .no-opening .drop p .button {
  margin: 0;
}
/* line 344, scss/app.scss */
.careers .openings {
  margin-top: 20px;
}
/* line 348, scss/app.scss */
.careers .openings h5 {
  font-weight: bold;
  color: #19296C;
}
/* line 353, scss/app.scss */
.careers .openings .posting {
  padding: 30px;
  border-left: 3px solid #d41117;
  background-color: #EBEBEB;
}
/* line 363, scss/app.scss */
.careers .openings .posting .folder {
  background: url("images/folder.png") center center no-repeat;
  width: 60px;
  height: 53px;
  display: block;
}
/* line 372, scss/app.scss */
.careers blockquote {
  border: none;
  background: url("images/quote.png") center left no-repeat;
  padding-left: 40px;
}
/* line 378, scss/app.scss */
.careers ul, .careers ol {
  font-size: 14px;
}

/** Footer **/
/* line 384, scss/app.scss */
.footer {
  border-top: 3px solid #d41117;
  padding-top: 20px;
  background-color: #3d437b;
  margin-top: 50px;
}
/* line 390, scss/app.scss */
.footer .vcard {
  color: #ffffff;
  border: none;
  padding: 0.625em 0;
}
/* line 395, scss/app.scss */
.footer .vcard a, .footer .vcard .tel {
  color: #5c686f;
  font-weight: bold;
}
/* line 401, scss/app.scss */
.footer .row.contacts {
  margin-top: 20px;
}
/* line 405, scss/app.scss */
.footer .top {
  width: 80px;
  position: relative;
  margin: 0 auto;
}
/* line 410, scss/app.scss */
.footer .top .link {
  position: absolute;
  width: 80px;
  top: -45px;
}
/* line 416, scss/app.scss */
.footer .top .link .text {
  background: url("images/top.png") center center no-repeat;
  width: 80px;
  height: 37px;
  display: block;
  margin: 0 auto;
}
/* line 423, scss/app.scss */
.footer .top .link .text a {
  display: block;
  text-align: center;
  padding-top: 8px;
  color: #202767;
}
/* line 431, scss/app.scss */
.footer .top .link .arrow {
  background: url("images/top-arrow.png") center center no-repeat;
  width: 42px;
  height: 20px;
  display: block;
  margin: 0 auto;
}
/* line 442, scss/app.scss */
.footer a {
  color: #bcbec0;
  font-size: 0.9em;
}
/* line 447, scss/app.scss */
.footer p, .footer li {
  font-size: 0.8em;
}
/* line 452, scss/app.scss */
.footer .links li {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* line 458, scss/app.scss */
.footer h6, .footer p {
  color: #ffffff;
  font-weight: 300;
  margin-top: 8px;
}
/* line 464, scss/app.scss */
.footer p {
  margin-bottom: 0.5em;
}
/* line 468, scss/app.scss */
.footer .signup {
  background-color: #d40e14;
}

/* line 473, scss/app.scss */
.copyright {
  background-color: #202767;
}
/* line 476, scss/app.scss */
.copyright p {
  color: #ffffff;
  font-size: .8em;
  padding: 0.9em 0;
  margin-bottom: 0px;
}
/* line 482, scss/app.scss */
.copyright p a {
  color: #ffffff;
}

/* line 489, scss/app.scss */
.contact_us .search_bar, .single-location .search_bar {
  background: #EBEBEB;
  width: 100%;
  display: block;
  clear: both;
}
/* line 496, scss/app.scss */
.contact_us .search_bar label.instruction, .single-location .search_bar label.instruction {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* line 502, scss/app.scss */
.contact_us .search_bar form, .single-location .search_bar form {
  margin: 0 0 0;
}
/* line 507, scss/app.scss */
.contact_us .search_bar .search_instruction, .single-location .search_bar .search_instruction {
  border-right: 1px solid #929497;
}
/* line 511, scss/app.scss */
.contact_us .search_bar .search_form, .single-location .search_bar .search_form {
  padding-top: 10px;
}
/* line 516, scss/app.scss */
.contact_us .search_bar .search_form input, .single-location .search_bar .search_form input {
  margin-bottom: 0px;
}
/* line 520, scss/app.scss */
.contact_us .search_bar .search_form input[type="text"], .single-location .search_bar .search_form input[type="text"] {
  height: 2rem;
  margin-bottom: 0px;
}
/* line 525, scss/app.scss */
.contact_us .search_bar .search_form label, .single-location .search_bar .search_form label {
  margin-bottom: 0px;
}

/* line 532, scss/app.scss */
article h5 {
  font-weight: 600;
  color: #d40e14;
  margin-top: 15px;
}

/* line 539, scss/app.scss */
article ul {
  list-style: none;
  margin-left: 0px;
}

/* line 543, scss/app.scss */
article .large-12 {
  padding: 10px;
  display: block;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 544, scss/app.scss */
article .large-12 .button {
  margin: 0;
}

/* line 545, scss/app.scss */
article .large-12 p {
  float: left;
  margin: 5px 50px 0 0;
}

/* line 547, scss/app.scss */
.about_us .content {
  margin: 3em 0 3em 0;
}

/*other products*/
/* line 552, scss/app.scss */
.others {
  clear: both;
  display: block;
  overflow: hidden;
}

/* line 553, scss/app.scss */
.others img {
  border-bottom: 2px solid #f00;
}

/* line 554, scss/app.scss */
.others h5 {
  margin-top: 20px;
}

/* line 555, scss/app.scss */
.others li h5 {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
}

/**map_container**/
/* line 557, scss/app.scss */
.map_container {
  max-height: 340px;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 559, scss/app.scss */
.map_container img {
  width: 100%;
}

/*locations*/
/* line 564, scss/app.scss */
.locations .wrapper {
  background: #EBEBEB;
  display: block;
  overflow: hidden;
  border-left: 2px solid #f00;
  padding: 5px 0 0 0;
}
/* line 571, scss/app.scss */
.locations .wrapper p {
  min-height: 90px;
}
/* line 575, scss/app.scss */
.locations .img {
  margin-top: 40px;
}

/* line 580, scss/app.scss */
.banner {
  width: 100%;
  height: 160px;
  overflow: hidden;
  position: relative;
  min-height: 120px;
}
/* line 587, scss/app.scss */
.banner img {
  width: 100%;
  min-width: 2000px;
  float: right;
}
/* line 593, scss/app.scss */
.banner .text {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
/* line 599, scss/app.scss */
.banner .page {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
/* line 604, scss/app.scss */
.banner .page h2 {
  color: #ffffff;
  margin-bottom: 0px;
  padding: 0px;
}
/* line 610, scss/app.scss */
.banner .page img {
  width: 100%;
}
/* line 614, scss/app.scss */
.banner .page .breadcrumbs {
  margin-bottom: 0px;
  border-style: none;
  border-width: 0px;
  background-color: transparent;
  padding: 0px;
}
/* line 623, scss/app.scss */
.banner .page .breadcrumbs > * a, .banner .page .breadcrumbs > * a:hover, .banner .page .breadcrumbs > *:before {
  color: #ffffff;
  font-size: 15px;
}

/* line 632, scss/app.scss */
.search .banner {
  background: #3d437b;
}

/* line 637, scss/app.scss */
.content-search h5 {
  color: #3d437b;
  padding-left: 1em;
}

/* line 642, scss/app.scss */
.content-search h4 {
  color: #3d437b;
}

/* line 646, scss/app.scss */
.content-search p {
  padding-left: 1em;
}

/* line 650, scss/app.scss */
.prod {
  border-bottom: 1px solid #aaa;
  margin-bottom: 2em;
}

/* line 655, scss/app.scss */
.map {
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 662, scss/app.scss */
.banner {
  background-position: center right;
  background-size: cover;
  position: relative;
}
/* line 667, scss/app.scss */
.banner .page-title {
  position: absolute;
  left: 100px;
  bottom: 15px;
}
/* line 673, scss/app.scss */
.banner h2.title {
  color: #ffffff;
  text-transform: uppercase;
}
/* line 678, scss/app.scss */
.banner .breadcrumbs > ::before {
  content: none;
}
/* line 682, scss/app.scss */
.banner .breadcrumbs > * a, .banner .breadcrumbs > * span, .banner .breadcrumbs > * {
  text-transform: none;
  color: #ffffff;
  padding-right: 5px;
}
/* line 688, scss/app.scss */
.banner .breadcrumbs {
  border: none;
  background-color: transparent;
  padding: 0 0 0;
}
/* line 693, scss/app.scss */
.banner .breadcrumbs .trail-browse {
  display: none;
}

/** Team **/
/* line 700, scss/app.scss */
.team {
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 704, scss/app.scss */
.team h5 {
  border-bottom: 3px solid #d41117;
  display: inline-block;
}
/* line 709, scss/app.scss */
.team img.th {
  border-bottom: 3px solid #d41117;
  box-shadow: none;
}
/* line 714, scss/app.scss */
.team .member {
  position: relative;
}
/* line 717, scss/app.scss */
.team .member .overlay {
  opacity: 0;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}
/* line 727, scss/app.scss */
.team .member .overlay .bio {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  color: #ffffff;
}
/* line 734, scss/app.scss */
.team .member .overlay .bio h6 {
  font-weight: 700;
  color: #ffffff;
}
/* line 743, scss/app.scss */
.team .member:hover .overlay {
  opacity: 1;
}

@media only screen and (max-width: 40em) {
  /* line 751, scss/app.scss */
  #slider .example-orbit div {
    top: 0px;
    left: 0px;
    padding: 15px 30px 0;
  }
  /* line 756, scss/app.scss */
  #slider .example-orbit div p {
    font-size: 0.8em;
    max-width: 50%;
    margin-bottom: 0.5rem;
  }

  /* line 764, scss/app.scss */
  .plus {
    line-height: 1;
  }

  /* line 768, scss/app.scss */
  .home .box h6.title {
    padding-top: 8px;
  }

  /* line 772, scss/app.scss */
  #notice h3 {
    line-height: 1.6;
  }

  /* line 777, scss/app.scss */
  #notice .img, #notice .open {
    margin-top: 0px;
  }
  /* line 781, scss/app.scss */
  #notice p {
    margin: 18px 0 0 0;
  }
}
