/* line 1, scss/app.scss */
.row {
  max-width: 80rem;
}

/* line 5, scss/app.scss */
#header {
  height: 60px;
  padding: 0px;
  font-size: 0.875rem;
  color: #3C3C3B;
  position: relative;
}
/* line 12, scss/app.scss */
#header .logo {
  float: left;
  padding: 10px 0 0 15px;
}
/* line 18, scss/app.scss */
#header .nav ul {
  list-style: none;
  float: left;
  margin: 0 20px 0 0;
}
/* line 23, scss/app.scss */
#header .nav li {
  float: left;
  list-style: none;
  padding: 10px;
  height: 60px;
}
/* line 23, scss/app.scss */
#header .nav li:hover {
  background: #f9f9f9;
}
/* line 25, scss/app.scss */
#header .nav li a {
  font-size: 0.875em;
  color: #3C3C3B;
  height: 50px;
  padding: 10px 0 0 0;
  text-transform: uppercase;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  border-right: 1px solid dotted #3C3C3B;
}
/* line 31, scss/app.scss */
#header .nav li a:hover {
  color: #999;
}
/* line 36, scss/app.scss */
#header .nav li.divider {
  padding: 0px;
}
/* line 39, scss/app.scss */
#header .nav .social {
  float: left;
  padding: 15px 10px 0 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  height: 60px;
}
/* line 45, scss/app.scss */
#header .nav .social a {
  padding: 0 5px;
}
/* line 47, scss/app.scss */
#header .nav .search {
  float: right;
  position: relative;
  right: 0;
  height: 60px;
  width: 60px;
}
/* line 48, scss/app.scss */
#header .nav .search a {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("images/search.png") center no-repeat;
}
/* line 50, scss/app.scss */
#header .nav .search a:hover {
  background: #f9f9f9 url("images/search.png") center no-repeat;
}
/* line 51, scss/app.scss */
#header .nav .search a img {
  width: 32px;
  height: 32px;
}
/* line 55, scss/app.scss */
#header img {
  vertical-align: middle;
}

/**/
/* line 59, scss/app.scss */
#slider .row {
  max-width: none;
}
/* line 62, scss/app.scss */
#slider .example-orbit div {
  background: url("images/slider_bg.png") left top no-repeat;
  color: white;
  position: absolute;
  width: 705px;
  height: 375px;
  padding: 2rem 4rem;
  left: 30px;
  top: 20px;
}
/* line 72, scss/app.scss */
#slider .example-orbit div h2 {
  color: #fff;
}
/* line 75, scss/app.scss */
#slider .example-orbit div p {
  font-size: 1.1rem;
  max-width: 85%;
  text-align: justify;
}

/**/
/* line 84, scss/app.scss */
.orbit-container .orbit-slides-container {
  overflow: hidden;
  max-height: 520px !important;
}

/* line 88, scss/app.scss */
.orbit-container .orbit-slides-container img {
  width: 100%;
}

/**Universal selectors**/
/* line 90, scss/app.scss */
h3 {
  font-size: 1rem;
  font-weight: 600;
}

/* line 91, scss/app.scss */
p {
  font-size: 14px;
  font-weight: 400;
}

/* line 92, scss/app.scss */
.button {
  background: #19296C;
}

/*products grid*/
/* line 96, scss/app.scss */
#products .img img {
  width: 100%;
}
/* line 98, scss/app.scss */
#products .content {
  padding: 10px;
  background: #EBEBEB;
  border-bottom: 2px solid #f00;
}
/* line 100, scss/app.scss */
#products .content a.button {
  margin: 0 auto;
  display: block;
  width: 105px;
}

/**/
/* line 105, scss/app.scss */
#info .columns {
  padding: 0 0.7rem 0 0.9rem;
}
/* line 106, scss/app.scss */
#info .wrapper {
  background: #EBEBEB;
  display: block;
  overflow: hidden;
  border-left: 2px solid #f00;
  padding: 5px 0 0 0;
}
/* line 108, scss/app.scss */
#info .img, #info .open {
  margin-top: 40px;
  height: 100px;
}
/* line 110, scss/app.scss */
#info .img img, #info .open img {
  vertical-align: center;
}

/****/
/* line 115, scss/app.scss */
#notice h2 {
  font-size: 0.95rem;
  font-weight: 600;
  line-height: 65px;
}
/* line 116, scss/app.scss */
#notice .wrapper {
  background: #EBEBEB;
  display: block;
  overflow: hidden;
  border-left: 2px solid #f00;
  padding: 5px 0 0 0;
}
/* line 117, scss/app.scss */
#notice p {
  margin: 3px 0 0 0;
}
/* line 118, scss/app.scss */
#notice .img, #notice .open {
  margin-top: 15px;
  height: 30px;
}
/* line 120, scss/app.scss */
#notice .img img, #notice .open img {
  vertical-align: center;
}

/****/
/* line 124, scss/app.scss */
.category-nav {
  background: #EBEBEB;
  margin-bottom: 30px;
}
/* line 127, scss/app.scss */
.category-nav a {
  font-weight: 400;
  font-size: 1rem;
  padding: 0 0.75rem;
  color: #999;
}
/* line 134, scss/app.scss */
.category-nav .active a {
  background: none;
  font-weight: 600;
  color: #f00;
}
/* line 134, scss/app.scss */
.category-nav .active a:hover {
  cursor: pointer;
}
/* line 136, scss/app.scss */
.category-nav .sub-nav {
  margin: 10px auto;
  padding-top: 4px;
}
/* line 141, scss/app.scss */
.category-nav li {
  padding-top: 10px;
}

/****/
/* line 148, scss/app.scss */
.home .orbit-container .orbit-timer {
  display: none;
}

/** Footer **/
/* line 154, scss/app.scss */
.footer {
  border-top: 3px solid #d41117;
  padding-top: 20px;
  background-color: #3d437b;
}
/* line 159, scss/app.scss */
.footer .vcard {
  color: #ffffff;
  border: none;
  padding: 0.625em 0;
}
/* line 164, scss/app.scss */
.footer .vcard a, .footer .vcard .tel {
  color: #5c686f;
  font-weight: bold;
}
/* line 170, scss/app.scss */
.footer a {
  color: #bcbec0;
  font-size: 0.9em;
}
/* line 175, scss/app.scss */
.footer p, .footer li {
  font-size: 0.8em;
}
/* line 180, scss/app.scss */
.footer .links li {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* line 186, scss/app.scss */
.footer h6, .footer p {
  color: #ffffff;
  font-weight: 300;
  margin-top: 8px;
}
/* line 192, scss/app.scss */
.footer p {
  margin-bottom: 0.5em;
}
/* line 196, scss/app.scss */
.footer .signup {
  background-color: #d40e14;
}

/* line 201, scss/app.scss */
.copyright {
  background-color: #202767;
}
/* line 204, scss/app.scss */
.copyright p {
  color: #ffffff;
  font-size: .8em;
  padding: 0.9em 0;
  margin-bottom: 0px;
}
/* line 210, scss/app.scss */
.copyright p a {
  color: #ffffff;
}

/* line 217, scss/app.scss */
.contact_us .search_bar, .single-location .search_bar {
  background: #EBEBEB;
  width: 100%;
  display: block;
  clear: both;
}
/* line 224, scss/app.scss */
.contact_us .search_bar label.instruction, .single-location .search_bar label.instruction {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
/* line 230, scss/app.scss */
.contact_us .search_bar form, .single-location .search_bar form {
  margin: 0 0 0;
}
/* line 235, scss/app.scss */
.contact_us .search_bar .search_instruction, .single-location .search_bar .search_instruction {
  border-right: 1px solid #929497;
}
/* line 239, scss/app.scss */
.contact_us .search_bar .search_form, .single-location .search_bar .search_form {
  padding-top: 10px;
}
/* line 244, scss/app.scss */
.contact_us .search_bar .search_form input, .single-location .search_bar .search_form input {
  margin-bottom: 0px;
}
/* line 248, scss/app.scss */
.contact_us .search_bar .search_form input[type="text"], .single-location .search_bar .search_form input[type="text"] {
  height: 2rem;
  margin-bottom: 0px;
}
/* line 253, scss/app.scss */
.contact_us .search_bar .search_form label, .single-location .search_bar .search_form label {
  margin-bottom: 0px;
}

/* line 260, scss/app.scss */
article h5 {
  font-weight: 600;
  color: #d40e14;
  margin-top: 15px;
}

/* line 267, scss/app.scss */
article ul {
  list-style: none;
  margin-left: 0px;
}

/* line 271, scss/app.scss */
article .large-12 {
  padding: 10px;
  display: block;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* line 272, scss/app.scss */
article .large-12 .button {
  margin: 0;
}

/* line 273, scss/app.scss */
article .large-12 p {
  float: left;
  margin: 5px 50px 0 0;
}

/* line 275, scss/app.scss */
.about_us .content {
  margin: 3em 0 3em 0;
}

/*other products*/
/* line 280, scss/app.scss */
.others {
  clear: both;
  display: block;
  overflow: hidden;
}

/* line 281, scss/app.scss */
.others img {
  border-bottom: 2px solid #f00;
}

/* line 282, scss/app.scss */
.others h5 {
  margin-top: 20px;
}

/* line 283, scss/app.scss */
.others li h5 {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
}

/**map_container**/
/* line 285, scss/app.scss */
.map_container {
  max-height: 340px;
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 287, scss/app.scss */
.map_container img {
  width: 100%;
}

/*locations*/
/* line 292, scss/app.scss */
.locations .wrapper {
  background: #EBEBEB;
  display: block;
  overflow: hidden;
  border-left: 2px solid #f00;
  padding: 5px 0 0 0;
}
/* line 299, scss/app.scss */
.locations .wrapper p {
  min-height: 90px;
}
/* line 303, scss/app.scss */
.locations .img {
  margin-top: 40px;
}

/* line 308, scss/app.scss */
.banner {
  width: 100%;
  height: 160px;
  overflow: hidden;
  position: relative;
  min-height: 120px;
}
/* line 315, scss/app.scss */
.banner img {
  width: 100%;
  min-width: 2000px;
  float: right;
}
/* line 321, scss/app.scss */
.banner .text {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
/* line 327, scss/app.scss */
.banner .page {
  position: absolute;
  bottom: 20px;
  left: 30px;
}
/* line 332, scss/app.scss */
.banner .page h2 {
  color: #ffffff;
  margin-bottom: 0px;
  padding: 0px;
}
/* line 338, scss/app.scss */
.banner .page img {
  width: 100%;
}
/* line 342, scss/app.scss */
.banner .page .breadcrumbs {
  margin-bottom: 0px;
  border-style: none;
  border-width: 0px;
  background-color: transparent;
  padding: 0px;
}
/* line 351, scss/app.scss */
.banner .page .breadcrumbs > * a, .banner .page .breadcrumbs > * a:hover, .banner .page .breadcrumbs > *:before {
  color: #ffffff;
  font-size: 15px;
}

/* line 360, scss/app.scss */
.search .banner {
  background: #3d437b;
}

/* line 365, scss/app.scss */
.content-search h5 {
  color: #3d437b;
  padding-left: 1em;
}

/* line 370, scss/app.scss */
.content-search h4 {
  color: #3d437b;
}

/* line 374, scss/app.scss */
.content-search p {
  padding-left: 1em;
}

/* line 378, scss/app.scss */
.prod {
  border-bottom: 1px solid #aaa;
  margin-bottom: 2em;
}

/* line 383, scss/app.scss */
.map {
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 390, scss/app.scss */
.banner {
  background-position: center right;
  background-size: cover;
  position: relative;
}
/* line 395, scss/app.scss */
.banner .page-title {
  position: absolute;
  left: 100px;
  bottom: 15px;
}
/* line 401, scss/app.scss */
.banner h2.title {
  color: #ffffff;
  text-transform: uppercase;
}
/* line 406, scss/app.scss */
.banner .breadcrumbs > ::before {
  content: none;
}
/* line 410, scss/app.scss */
.banner .breadcrumbs > * a, .banner .breadcrumbs > * span, .banner .breadcrumbs > * {
  text-transform: none;
  color: #ffffff;
  padding-right: 5px;
}
/* line 416, scss/app.scss */
.banner .breadcrumbs {
  border: none;
  background-color: transparent;
  padding: 0 0 0;
}
/* line 421, scss/app.scss */
.banner .breadcrumbs .trail-browse {
  display: none;
}

@media only screen and (max-width: 40em) {
  /* line 429, scss/app.scss */
  #slider .example-orbit div {
    top: 0px;
    left: 0px;
    padding: 15px 30px 0;
  }
  /* line 434, scss/app.scss */
  #slider .example-orbit div p {
    font-size: 0.8em;
    max-width: 50%;
    margin-bottom: 0.5rem;
  }
}
